<div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar">
    <div class="sidebar-header border-bottom">
      <div class="sidebar-brand">
        <span class="sidebar-brand-full" width="88" height="32" alt="CoreUI Logo">
          <i class="fa-regular fa-envelope" > </i> <strong class="me-2">MASTER</strong>
        </span>
        <span class="sidebar-brand-narrow" width="32" height="32" alt="CoreUI Logo">
          <i class="fa-regular fa-envelope"> </i>
        </span>
      </div>
      <button class="btn-close d-lg-none" type="button" data-coreui-dismiss="offcanvas" data-coreui-theme="dark" aria-label="Close" onclick="coreui.Sidebar.getInstance(document.querySelector(&quot;#sidebar&quot;)).toggle()"></button>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
      <li class="nav-item"><a class="nav-link" href="{{=URL('default','index')}}">
        <span class="nav-icon">
        <i class="fa-solid fa-chart-line"></i>
        </span>Dashboard</a></li>
      <li class="nav-title">Transaction</li>
      <li class="nav-item"><a class="nav-link" href="colors.html">
          <svg class="nav-icon">
            <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-drop"></use>
          </svg> Colors</a></li>
      <li class="nav-item"><a class="nav-link" href="typography.html">
          <svg class="nav-icon">
            <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-pencil"></use>
          </svg> Typography</a></li>
      <li class="nav-title">Master Setup</li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-puzzle-piece"></i>
        </span>
          Base</a>
        <ul class="nav-group-items compact">
          <li class="nav-item"><a class="nav-link" href="base/accordion.html"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Accordion</a></li>
          <li class="nav-item"><a class="nav-link" href="base/breadcrumb.html"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Breadcrumb</a></li>
        </ul>
      </li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
        <span class="nav-icon">
          <i class="fa-regular fa-square-check"></i>
        </span>
        Buttons</a>
        <ul class="nav-group-items compact">
          <li class="nav-item"><a class="nav-link" href="buttons/buttons.html"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Buttons</a></li>
          <li class="nav-item"><a class="nav-link" href="buttons/button-group.html"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Buttons Group</a></li>
          <li class="nav-item"><a class="nav-link" href="buttons/dropdowns.html"><span class="nav-icon"><span class="nav-icon-bullet"></span></span> Dropdowns</a></li>
        </ul>
      </li>

      <li class="nav-title">User Management</li>
      <li class="nav-item"><a class="nav-link" href="{{=URL('users','index')}}">
        <span class="nav-icon">
          <i class="fa-solid fa-users"></i>
        </span> Users</a></li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star"></use>
          </svg> Access Management</a>
        <ul class="nav-group-items compact">
          <li class="nav-item"><a class="nav-link" href="login.html" target="_top">
              <svg class="nav-icon">
                <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout"></use>
              </svg>Role</a></li>
          <li class="nav-item"><a class="nav-link" href="register.html" target="_top">
              <svg class="nav-icon">
                <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout"></use>
              </svg> Permission </a></li>
          <li class="nav-item"><a class="nav-link" href="register.html" target="_top">
              <svg class="nav-icon">
                <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout"></use>
              </svg> Permission Group</a></li>
        </ul>
      </li>
    </ul>
    <div class="sidebar-footer border-top d-none d-md-flex">     
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
  </div>