{{extend 'layout.html'}}

{{block header}}
<li class="breadcrumb-item"><a href="#">Home</a>
</li>
<li class="breadcrumb-item active"><span>Users</span>
</li>
{{end}}

{{block content}}
<div class="container-lg px-3">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header">            
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-list"></i>
              <strong class="ms-2">List</strong>
              <span class="small ms-1">User</span>
            </div>
          
            <!-- Buttons Group Aligned to the End -->
            <div class="d-flex align-items-center ms-auto">
              <div class="p-1">
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-info me-2 text-nowrap " type="button" data-coreui-toggle="dropdown">
                        <i class="fa-solid fa-filter"></i> <span class="ms-2">Filter</span>
                    </button>
                    <!-- seach section -->
                    <ul class="dropdown-menu active" style="width: 500px;">
                        <li>
                            <div class="row mt-2 px-3">
                                <div class="col-12">
                                    <h5 class=""><i class="fa-solid fa-filter"></i> Filter</h1>
                                </div>
                            </div>      
                            <form class="px-2 py-2" action="{{=URL('users','index')}}" method="POST">
                                <div id="custom_form">
                                    <div class="p-3 mb-2" style="border: 1px solid 	#b8c2cc; border-radius: 5px ; background-color: rgb( 247, 248, 249);">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="mb-3">
                                              <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="mb-3">
                                              <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                            </div>
                                          </div>
                                        </div>
                                    </div>  
                                      
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <div class="d-flex justify-content-start">
                                                <div class="me-2">
                                                    <button type="submit" id="submit" class="btn btn-sm btn-primary">
                                                        <i class="fa-solid fa-magnifying-glass"></i> <span class="ms-2">Search</span>
                                                    </button>
                                                </div>
                                                <div class="">
                                                    <a href="{{URL('users','index')}}" class="btn btn-sm btn-light">
                                                        <i class="fa-solid fa-retweet"></i> <span class="ms-2">Reset</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
              <a class="btn btn-primary btn-sm me-2 text-nowrap" type="button" href="{{=URL('users','create')}}">
                <i class="fa-solid fa-plus"></i>
                Add New
              </a>
              <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-coreui-toggle="dropdown" aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-plus me-3"></i>Add New</a></li>
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-download me-3"></i>Export</a></li>
                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-upload me-3"></i>Import</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">

              <div class="col-md-12">
                <div class="table-responsive">

                  <table class="table table-sm table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>MarkMarkMarkMarkMarkMarkMark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>   
        </div>
      </div>
    </div>
    
  </div>
</div>
{{end}}

{{block script}}

{{end}}